<div class="row">
    <div class="col">&nbsp;</div>
</div>
<div class="row content-light">
    <div class="col">
        <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/developerug">
            <i class="fab fa-twitter-square"></i> @DeveloperUG</a>
    </div>
    <div class="col">
        <a href="mailto:admin@developerug.org.za">
            <i class="fas fa-envelope-square"></i> admin@developerug.org.za</a>
    </div>
    <div class="col">
        <small>
            <p>© 2012-<span id="currentYear">2018</span> Developer User Group. All rights reserved</p>
        </small>
    </div>
</div>