<form id="ema_signup_form" rel="noopener noreferrer" target="_blank" action="https://madmimi.com/signups/subscribe/09d056297d244ab8a23337aef8105927" accept-charset="UTF-8" method="post">
    <div class="form-group">
    <input name="utf8" type="hidden" value="✓"/>
    <div class="mimi_field required">
       <label for="signup_email">Email*</label>
       <br/>
       <input class="form-control" id="signup_email" name="signup[email]" type="text" data-required-field="This field is required" placeholder="you@example.com"/><input type="submit" class="submit btn btn-primary" value="Subscribe" id="webform_submit_button" data-default-text="Subscribe" data-submitting-text="Sending..." data-invalid-text="↑ You forgot some required fields" data-choose-list="↑ Choose a list" data-thanks="Thank you!"/>
    </div>
    <div style="background: white; font-size:1px; height: 0; overflow: hidden">
       <input type="text" name="8835bf7121416aaa5df1626869e108df" style="font-size: 1px; width: 1px !important; height:1px !important; border:0 !important; line-height: 1px !important; padding: 0 0; min-height:1px !important;"/>
       <input class="checkbox" type="checkbox" name="beacon"/>
    </div>
    </div>
 </form>
<script src="/js/newsletter.js"></script>