--- 
layout: compress 
---
<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="content-light">
                    {% include header.html %} 
                    {{ content }} 
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-light">
                    {% include sponsors.html %}
                </div>
            </div>
        </div>
        {% include footer.html %} 
        {% include scripts.html %}
    </div>
</body>

</html>