$primary:#fc6700;
$secondary: hsl(184, 100%, 34%);
$headings-color:$primary;
$body-bg: rgb(52, 58, 70);
$body-color:#000;
$navbar-dark-active-color: $primary;
$link-color: $secondary;

.navbar {
    background-color: black;
    margin-bottom: 10px;
}

.content-light {
    background-color: white;
    border-radius: 10px;
    border-color: $secondary;
    border-width: 1px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.noEvents {
    display: none !important;
}

.eventInfo{
    display: none !important;
}

html {
    font-size: 0.9rem;
    body {
        background-image: url('/imgs/wallpaper.png');
    }
}

.memberCard {
    width: 220px;
    height: 350px;  
    padding: 10px;
    margin-top: 5px;
    margin-right: 5px;
    border-width: 2px;

    i {
        font-size: 2.5rem;
    }

    .unknownHero {
        color: $secondary;
        i {
            font-size: 13rem;
        }
    }
}

hr {
    border: 0 !important;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $secondary, rgba(0, 0, 0, 0)) !important;
}

.upcomingCard {
    margin-right: 5px;
}

.form-control {
    display: initial !important;
}

.newsletterButton{
    float: right;
    margin-top: 5px;   
}

.newsLetterHeader {
    letter-spacing: -0.9px;
}

.carousel-image{
    max-height: 
    img {
        object-fit: contain;
        max-height: 300px;
    }
}